<div class="header text-center">
  <h1 class="race-name"><%= @race.name %></h1>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'About', race_path(@race), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Course', race_course_path(@race), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Results', race_results_path(@race), class: "nav-link active" %>
  </li>
</ul>
<div class="content">
      <table class="table table-sm table-bordered">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>City</th>
          <th>Time</th>
        </tr>
        <% @results_arr.each_with_index do |place, i| %>
          <tr>
          <td><%= i + 1 %></td>
          <% if place && place.athlete %>
            <td><%= place.athlete.first_name + " " + place.athlete.last_name %></td>
            <td><%= place.athlete.city %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end%>
          <% if place && place.time %>
            <td><%= place.time_as_string %></td>
          <% else %>
            <td></td>
          <% end%>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>