<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @result.race %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @result.athlete %>
</p>

<p>
  <strong>Place:</strong>
  <%= @result.place %>
</p>

<p>
  <strong>Time:</strong>
  <%= @result.time %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
