<!DOCTYPE html>
<html>
  <head>
    <title>Freefunrun</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="main-content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
